<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
      <add key="4S-Partner-Key" value="xx"/>
      <add key="4S-Partner-XX" value="xx"/>
      <add key="4S-User-Name" value="xx"/>
      <add key="4S-User-Password" value="xx"/>
    </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
